<div class="section fitness-main-section ">
    <div class="content">
        <div class="upb_bg_overlay"></div>
        <div class="row pt-5 py-5">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h1 class="ft-title">Fitness Center and More</h1>
                    <h4 class="main-color pt-3">at Bel Air Bubble Resort hotel</h4>
                    <p class=" pt-3 py-4">
                        The fitness center is located on the second floor of the clubhouse Bel Air resort hotel Tremblant. Bel Air
                        fitness center offers the latest equipment from cardio equipment to free weights. Enjoy incredible views of
                        the surrounding mountains as you workout. Nest to the gym is studio with step benches for workouts and matts
                        for yoga and stretching. After a workout you can unwind, relax and detoxify in the sauna. Finish up your
                        routine with a refreshing shower in the womens’ or mens’ locker room.
                    </p>
                    <button class="btn btn-lg btn-amenit">See all amenities</button>
                </div>
                <div class="row col-sm-12 col-md-6">
                    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                </div>
            </div>
        </div>
    </div>
</div>
