<div class="section content gallery_section">
  <div class="intro_section pt-5">
    <span class="intro_title">domes: hot tub & shared sauna</span>
    <span class="price-val offset-md-1 text-center"> from <strong class="main-color">$370</strong>/night</span>
    <div class="review">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half-empty"></i>
      <span><strong>4.6</strong>Stars - Based on 11 Reviews</span>
    </div>
  </div>
  <div class="row">
    <div class="row col-md-9 pt-5">
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
      <div class="col-sm-12 col-md-3">
        <div class="wpb_wrapper">
          <p class="detail_heading">DETAILS :</p>
          <div class="standard-arrow list-divider bullet-top">
            <ul class="detail-list">
              <li><span>TYPE:</span> DOMES</li>
              <li><span>SIZE:</span> 450 sqf</li>
              <li><span>BEDS:</span> 1</li>
              <li><span>SLEEPS:</span> 2</li>
              <li><span>NUMBER OF UNITS:</span> 2</li>
            </ul>
          </div>
          <div class="text-center pt-5">
            <button class="btn book-btn">BOOK NOW</button></div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-3">
      <div class="sidenav" id="sticky-sidebar">
        <h3>Rental Categories</h3>
        <ul class="detail-list">
          <li>Dome rentals</li>
          <li>Pod rentals</li>
          <li>Miniloft rentals</li>
          <li>Chalet rentals</li>
        </ul>
      </div>
    </div>
    <div class="row col-md-9 property_description">
      <h1 class="py-5 description-title">property <strong class="main-color">description:</strong></h1>
      <div class="full-description">
        <p>These dome rentals are located just steps from the clubhouse at Bel Air bubble hotel in Tremblant. These
          modern geodesic shaped domes offer a truly unique experience and the perfect mixture of luxury and nature.</p>

        <p>The comfortable open-spaced interior has a king-size bed that faces a large bay opening with spectacular
          views of the wonderful nature outdoors. At the press of a button a flat screen TV pops up at the foot of the
          bed.</p>

        <p>A cozy leather reclining chair sits at each side of the bed and there is a gas fireplace to keep you warm
          while you enjoy romantic moments.</p>

        <p>The open kitchenette is equipped with everything you may need to prepare a simple meal and there is a dining
          area that that seats two.</p>

        <p>These dome rentals in Mont Tremblant have a modern glass shower with rainfall shower-head and a separate
          enclosed toilet with a vanity sink.</p>

        <p>Outside on the deck there is a BBQ grill and a table and chairs ideal for dining under the stars. You can
          also relax in your own private hot tub or the sauna which is shared with one another dome.</p>

        <p>All dome rentals include free Wi-Fi, Netflix and parking for two cars.</p>

      </div>
    </div>
    <div class="row col-md-9 property_description pt-5">
        <div class="row description-title">
            <div class="col-md-6">
                <h2> <strong class="main-color">feature:</strong></h2>
            </div>
            <div class="col-md-6">
                <h2> <strong class="main-color">virtual tour:</strong></h2>
            </div>
        </div>
        <div class="row col-md-6 pt-4">
            <div class="row">
                <div class="col-md-6">
                    <p>INSIDE:</p>
                    <ul class="feature-list">
                        <li>King-size bed</li>
                        <li>Gas fireplace</li>
                        <li>Full kitchenette</li>
                        <li>Appliances & utensils</li>
                        <li>Heated floors</li>
                        <li>Aire-conditioner</li>
                        <li>TV</li>
                        <li>Wi-Fi</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <p>OUTSIDE:</p>
                    <ul class="feature-list">
                        <li>Wood deck</li>
                        <li>Table & chairs</li>
                        <li>BBQ grill</li>
                        <li>Private hot tub</li>
                        <li>Shared sauna</li>
                        <li>adfasdf</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row col-md-6 pt-4">
            <div class="col-md-12">
                <video data-object-fit="cover">
                    <source src="../../../../assets/wp-content/video/landingpage/Bubbles-Domes-good-one-ok-v3-2.mp4" />
                </video>
            </div>
        </div>
    </div>
    <div class="row col-md-9 property_description">
        <h1 class="py-4 description-title"><strong class="main-color">bel air resort </strong>reviews</h1>
        <div class="full-description">
          <img src="../../../../assets/wp-content/video/images/reviews.jpg">
        </div>
      </div>
  </div>
</div>
<app-book-bar></app-book-bar>

