.gallery_section {
    display: flex;
}

.intro_title {
    font-family: 'Noto Serif';
    font-weight: 700;
    color: #0b0b32;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

i {
    font-size: 20px;
    color: #f9bc11;
}

.price-val {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
}

.ngx-gallery-preview-img {
    max-width: 75%;
}

.gallery_section {
    padding-top: 0;
}

.review > i{
    float: left;
}

.detail_heading {
    font-size: 18px;
    color: #00112c;
    text-align: left;
    font-family:Raleway;
    font-weight:600;
    font-style:normal;
    border-bottom: 1px solid #00112c;
}

.detail-list > li {
    list-style: none;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    padding-top: 10px;
    padding-bottom: 10px;
}
.detail-list > li > span {
    font-family: open sans,sans-serif;
    color: #8ab92d;
}

.glyphicon-chevron-right {
    background-color: #8ab92d;
    border-radius: 50%;
}

.book-btn {
    font-weight: bold;
    border: none;
    background: rgb(2, 42, 105);
    color: rgb(255, 255, 255);
    box-shadow: 0px 5px;
    top: auto;
    box-shadow: 0 5px;
}

.sidenav {
    z-index: 1;
    bottom: 0px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 8px;
    height: 50vh;

    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
    background: #f2f2f2 none repeat center center;
}

.description-title {
    text-transform: uppercase;
    font-weight: 700;
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    border-bottom-style: dashed;
}

.feature-list {
    padding-left: 20px;
}

video {
    width: 100%;
}
